.tabs-section {
  width: 100%;
  margin: 50px auto;
}
.tab-header {
  padding: 20px 0px;
}
.tab-header ul {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 20px;
  /* border-bottom: 3px solid var(--first-color); */
}
.tab-header ul li {
  width: 100%;
}
.tab-header ul li span {
  background: rgba(224, 87, 224, 0.17);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.6px);
  -webkit-backdrop-filter: blur(12.6px);
  color: var(--text-color);
  padding: 15px 20px;
  padding-bottom: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.tab-header ul li::before {
  content: "";
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 13px;
  background-color: var(--first-color);
  z-index: -99;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.tab-header ul li:nth-child(odd)::before {
  animation: infinite 4s tab-background backwards;
}
.tab-header ul li:nth-child(even)::before {
  animation: infinite 4s tab-background-reverse;
}
@keyframes tab-background {
  0% {
    bottom: 0%;
  }
  50% {
    bottom: 65%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  100% {
    bottom: 0%;
  }
}
@keyframes tab-background-reverse {
  0% {
    bottom: 65%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  50% {
    bottom: 0%;
  }
  100% {
    bottom: 65%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.tab-header ul li.active span {
  background: var(--first-color);
  color: #fff;
}
.tab-header ul li:hover span {
  background: var(--first-color);
  color: #fff;
  transition: 0.3s all ease-in;
}
/* .tab-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
} */

@media only screen and (max-width: 992px) {
  .tabs-section {
    width: 95%;
  }
}
@media only screen and (max-width: 768px) {
  .tab-header ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .tab-header ul li {
    font-size: 18px;
    border-bottom: 2px solid var(--tab-active);
    margin-bottom: -2px;
  }
}
